/* Experience Section Enhancements */
#experience {
  background-color: #f8f9fa;
}

#experience h2 {
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: 800;
}

.experience-card h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.experience-card .details {
  padding: 10px 0;
}

.details h5 {
  font-size: 1rem;
  font-weight: 500;
}

.details small {
  color: #6c757d;
}
