.animated-heading span {
  margin-top: 50px;
  display: inline-block;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 6px 6px 15px rgba(0, 0, 0, 0.7);
  animation: fadeIn 1s ease forwards;
  opacity: 0;
  white-space: nowrap;
}

@media (max-width: 400px) {
  .animated-heading span {
    font-size: 2rem;
    font-weight: 1000;
    word-spacing: 2px;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
}

.header-button {
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header-button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
}

.scroll-down-container {
  margin-top: 50px;
  animation: bounce 2s infinite;
}

.scroll-down {
  font-size: 2rem;
  color: #ffffff;
  text-decoration: none;
}

.scroll-down:hover {
  color: #f4c561;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
